/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  /* Color may need to change based on background*/
  color: #fff;
  font-size: 300%;
  line-height: 1.6;
}
